.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #F55A5A;
  height: 55px;
  color: white;
}

.globe {
  display: inline-block;
  margin: 25px 10px;
}